$font-stack: Helvetica, sans-serif;
$tittle-color: #fff;
$descrip-color: #aaa;
$color-gulp: #E84C50;
$color-pug: #F0CDA3;
$color-browserify: #3C6991;
$color-sass: #CF649A;
$color-node: #77AE64;
$mainfontsize: 13pt;
$width:100%;

body{
	font: 100% $font-stack;
	color: $tittle-color;
	margin: 0px;
	a{
		text-decoration: none;
		color: black;
	}
	#container{
		div{
			margin: 0px;
			padding: 100px 1%;
			box-sizing: border-box;
		}	
	}
	
}

header{
	
	background-color: gray;
	text-align: center;
	padding: 0;
	width: $width;
	height: $width/2;
}
h1{
	color: white;
	font-size: $mainfontsize*4;
}

h2{
	margin-top:0;
}

nav{
	text-align: center;
	li{
		display: inline-block;
		margin: 0 5%;
	}
}

.gulp-section{
	h2{
	color:	$color-gulp;
	}
	
}
.pug-section{
	h2{
	color:	$color-pug;
	}
	
}
.browserify-section{
	h2{
	color:	$color-browserify;
	}
	
}
.nodejs-section{
	h2{
	color:	$color-node;
	}
	
}
.sass-section{
	h2{
	color:	$color-sass;
	}
	
}
p{
	
}

hi{
	background-color: rgba(150,255,150,0.5);
}


