doctype html
html(lang="en")
	head
		title Madbutchill
		link(href='./css/style.css', rel='stylesheet')
	body
		#container
			#overlayUI
				#logoAndTitle
					figure#logo.baselineTop
						img(src="./assets/dribbble.svg")
					p#titleCopy interactive <br> media designer

				#navbar
					a(href="#") projects
					a(href="#") about
					a(href="#") contact

				#socialContainer.baselineBottom
					.behance.icon
						a
							img(src="./assets/behance.svg")
					.instagram.icon
						a
							img(src="./assets/instagram.svg")
					.dribbble.icon
						a
							img(src="./assets/dribbble.svg")
			
			
			#viewContainer